openapi: 3.0.0
info:
  title: Graph API Plugin to Retrieve Entra ID user PIM Role Assignments
  description: Use this skill to retrieve a list of Entra ID users with PIM (Privildged Identity Management) role assignments in Entra ID where the roles are assigned with an End Time of "Permanent"
  version: "1.0"
x-metadata:
  name: ListPIMPermanentAssignments
  displayName: Retrieve list of users with PIM (Privildged Identity Management) Role Assignments with Permanent End Time
  samplePrompts:
    - "Give me all users with PIM role assignments with an end time of 'Permanent'."
    - "List users with PIM roles that have permanent assignments."
    - "Retrieve all users with PIM role assignments where the role is permanently active."
servers:
  - url: https://graph.microsoft.com/v1.0
    description: Microsoft Graph API
paths:
  /roleManagement/directory/roleAssignments:
    get:
      summary: Retrieve Entra ID users with PIM role assignments set with a permanent end time
      description: Retrieves users with PIM (Privildged Identity Management) role assignments in Entra ID where their roles are assigned with an End Time of "Permanent"
      parameters:
        - name: $filter
          in: query
          required: false
          description: OData filter to retrieve specific role assignments.
          schema:
            type: string
            example: "assignmentState eq 'Active' and assignmentType eq 'Assigned'"
      responses:
        '200':
          description: A list of PIM role assignments with permanent end times.
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Role assignment ID.
                        principalId:
                          type: string
                          description: The unique ID of the user or group assigned the role.
                        principalDisplayName:
                          type: string
                          description: Display name of the principal (user or group).
                        roleDefinitionId:
                          type: string
                          description: The ID of the role definition.
                        assignmentType:
                          type: string
                          description: Indicates whether the assignment is permanent or eligible.
                          example: "Assigned"
                        assignmentState:
                          type: string
                          description: Indicates the state of the role assignment.
                          example: "Active"
                        resourceDisplayName:
                          type: string
                          description: Name of the resource associated with the assignment.
                        endDateTime:
                          type: string
                          format: date-time
                          description: The end time of the assignment, or "null" for permanent assignments.
        '401':
          description: Unauthorized. Authentication failed or access token is missing.
        '403':
          description: Forbidden. The authenticated user does not have permission to access this resource.
        '500':
          description: Internal server error.
      security:
        - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
